mlflow
scikit-learn
pandas
matplotlib
seaborn
statsmodels
keras
tensorflow
sqlalchemy==1.4.54 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse==0.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.0 # not directly required, pinned by Snyk to avoid a vulnerability
